<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Control Center</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.png">
</head>
<body>
  <app-root>
    <div class="app-loading" *ngIf="!loaded">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </app-root>
</body>
</html>
