/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lato');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "../node_modules/primeng/resources/primeng.min.css";

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: 'Lato', sans-serif;
}

/*
div>*:not(.dashlet) {
    animation: rotate linear 5s infinite; 
}
*/
/*
@keyframes rotate {
    0% {}
    100% {
        transform: rotate(360deg);
    }
  }
*/

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinner-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.spinner {
    animation: 1s cubic-bezier(0.46, 0.16, 0.44, 0.75) spin infinite;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    border: 0.4rem solid #cedce8;
    border-top-color: #6ab0ec;
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
}

.chart-container {
    width: 100%;
    height: 100%;
}

.chart {
    height: 100%;
    width: 100%;
}

app-root {
    height: 100%;
    width: 100%;
}

app-home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

app-overview {
    height: 100%;
    display: flex;
    flex-direction: column
}

app-energy-management, app-devices {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

app-devices {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-top>h1 {
    font-size: 1.8rem;
    color: grey;
    margin: 2rem;
}

.dashlet {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    border-radius: 0.5rem;
    margin: 1rem;
    display: flex;
    overflow: hidden;
}

.dashlet-row:first-of-type>.dashlet {
    margin-top: 0;
}

.dashlet-row {
    flex-grow: 1;
}

.highcharts-credits {
    display: none !important;
}

/* Styling datepicker */

material-datepicker>.datepicker>input {
    text-align: center;
    border: none !important;
    color: white !important;
    background-color: #263c4c !important;
    border-radius: 0.3rem !important;
}

material-datepicker>.datepicker>input::placeholder {
    color: white;
    opacity: 1;
}

/* Styling tooltip */

.mat-tooltip {
    font-size: 0.9rem;
}

/* Styling User management dialog */

app-user-management-dialog {
    display: flex;
    width: 55rem;
    height: 30rem;
    margin: -1.5rem;
}

/* Styling swarm management dialog */

app-swarm-management-dialog {
    display: flex;
    margin: -1.5rem;
    width: 55rem;
    height: 30rem;
}

/* Styling Tree structure */

tree-internal ul {
    padding: 0 0 0 1rem !important;
    margin: 0;
}

tree>tree-internal>ul:first-child {
    padding: 0 !important;
}

tree-internal .tree .node-value {
    color: grey !important;
    padding: 0.2rem 0 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

tree-internal .tree .node-value:hover {
    cursor: pointer;
}

tree-internal .tree .node-checkbox input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0.9rem;
    height: 0.9rem;
    border: 1px solid #d8d8d8;
    border-radius: 0.8rem;
    pointer-events: none;
}

tree-internal .tree .node-checkbox input[type=checkbox]:focus {
    outline: none;
}

tree-internal .tree .node-checkbox input[type=checkbox]:checked:after {
    content: '';
    display: flex;
    background-color: #61c562;
    height: 0.8rem;
    padding: 0 0.4rem;
    border-radius: 1rem;
    position: relative;
    right: 0.01rem;
}

tree-internal .tree .node-value:after {
    display: none !important;
}

tree-internal .tree .folding {
    width: 15px !important;
}

tree-internal .tree .folding:before {
    color: #209e91 !important
}

tree-internal .tree .folding.node-expanded:before {
    font-size: 0.74rem;
}

tree-internal .tree .folding.node-empty:before {
    visibility: hidden;
}

tree-internal .tree .node-leaf {
    visibility: hidden;
}

.app-loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-loading span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #3498db;
    margin: 35px 5px;
    opacity: 0;
}

.app-loading span:nth-child(1){
    animation: opacitychange 1s ease-in-out infinite;
}

.app-loading span:nth-child(2){
    animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.app-loading span:nth-child(3){
    animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
    0%, 100%{
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
}