<h1 mat-dialog-title>{{device}}</h1>
<div mat-dialog-content>
  <div class="items">
    <mat-checkbox [(ngModel)]="preferences.lock">Locked</mat-checkbox>
    <input placeholder="Note" [(ngModel)]="preferences.note" ngModel>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClicked()">Cancel</button>
  <button mat-button (click)="onSaveClicked()">Save</button>
</div>