.info-container {
  height: 20rem;
  width: 100%;
  display: flex;
  position: relative;
  margin-right: 10rem;
}

.info-container>.graph-row {
  position: relative;
}

.info-container>.graph-row>.device-settings-icon {
  position: absolute;
  right: 1.2rem;
  top: 1.2rem;
  color: #a5a5a5;
  font-size: 1.5rem;
  transition: 0.2s;
}

.info-container>.graph-row>.device-settings-icon:hover {
  cursor: pointer;
  color: #79c5be;
}

.info-container>.graph {
  flex-grow: 1;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border: 1px solid lightgrey;
}

.info-container>.alarm-container {
  transition: 0.5s;
  width: 10rem;
  height: 100%;
  position: absolute;
  display: flex;
  right: 0;
  color: white;
  line-height: 1.5rem;
  border-radius: 0.3rem;
  text-align: center;
}

.info-container>.alarm-spacer {
  width: 10rem;
}

.info-container>.alarm-container:hover {
  width: 40rem;
}

.info-container>.alarm-container>.alarm-tab {
  width: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.info-container>.alarm-container>.alarm-tab>.chevron-container {
  background-color: #dadada;
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 0 0 1rem;
}

.info-container>.alarm-container>.alarm-tab>.chevron-container>i {
  flex-grow: 1;
  transition: 0.5s;
}

.info-container>.alarm-container:hover>.alarm-tab>.chevron-container>i {
  transform: rotate(-180deg);
}

/* STYLING GRAPHS */

.info-container {
  overflow: hidden;
}

.alarm-container {
  background-color: white;
}

.graph-row {
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  align-items: stretch;
}

.graph-container {
  flex-grow: 1;
  flex-basis: 10%;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border: 1px solid lightgrey;
  overflow: hidden;
  display: flex;
  position: relative;
}

.spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph {
  flex-grow: 1;
}

.graph-row div {
  overflow: hidden;
}

app-alarm-list {
  width: 100%;
  overflow-y: auto;
}