<div class="info-container">
  <div class="graph-row">

    <div class="graph-container">
      <app-device-power-line-chart 
        class="chart"
        [deviceID]="device.info.id" 
        [deviceData]="graphData"
        [zoom]="zoom"
        (onZoom)="onZoomChange($event.zoom)">
      </app-device-power-line-chart>
    </div>

    <div class="graph-container">
      <app-device-soc-line-chart 
        class="chart"
        [deviceID]="device.info.id" 
        [deviceData]="graphData"
        [zoom]="zoom"
        (onZoom)="onZoomChange($event.zoom)">
      </app-device-soc-line-chart>
    </div>

    <div class="graph-container">
      <app-device-temp-line-chart 
        class="chart" 
        [deviceID]="device.info.id" 
        [deviceData]="graphData"
        [zoom]="zoom"
        (onZoom)="onZoomChange($event.zoom)">
      </app-device-temp-line-chart>
    </div>

    <i class="fa fa-cog device-settings-icon" (click)="openSettings()" aria-hidden="true" *ngIf="!readonly"></i>
  </div>

  <div *ngIf="alarms && alarms.length > 0" 
        class="alarm-container" 
        (mouseleave)="onAlarmsClosing($event)" 
        (transitionend)="onAlarmsOpened($event)">
    <div class="alarm-tab">
      <div class="chevron-container">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </div>
    </div>
    <app-alarm-list 
      (alarmCancelClicked)="cancelAlarmClicked($event)"
      (alarmEmailClicked)="alarmEmailClicked($event)"
      (alarmHovered)="alarmHovered($event)"
      [wrapped]="alarmsWrapped"
      [alarms]="alarms"
      [readonly]="readonly">
    </app-alarm-list>
  </div>
  <div *ngIf="alarms && alarms.length > 0" class="alarm-spacer"></div>
</div>
