<div class="left">

  <div class="top">
    <h3>Users</h3>
    <button class="add-user" (click)="showCreateUser()">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>

  <div class="main">
    <table>
      <thead>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" (click)="selectUser(user)">
          <td>{{user.username}}</td>
          <td>
            <i *ngIf="isAdmin(user)" class="fa fa-id-badge" aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="right">

  <div class="help-message" *ngIf="!selectedUser && !creatingUser">Select a user to manage</div>

  <div class="manager" *ngIf="selectedUser">

    <div class="top">
      <h3>Manage {{selectedUser.username}}</h3>
      <div>
        <button class="save" [class.disabled]="!editUserValid()" (click)="saveEditUserClicked()">
          Save
        </button>
        <button class="delete-user" (click)="deleteUserClicked(selectedUser)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="options">
      <div class="option password">
        <label>Password</label>
        <input type="password" autocomplete="new-password" [(ngModel)]="passwordField" placeholder="New password">
      </div>
      <div class="option demo">
        <label>Demo</label>
        <ui-switch [checked]="false" size="small" color="rgb(89, 197, 128)" [(ngModel)]="demoField" [disabled]="adminField"></ui-switch>
      </div>
      <div class="option admin">
        <label>Admin</label>
        <ui-switch [checked]="false" size="small" color="rgb(89, 197, 128)" [(ngModel)]="adminField"></ui-switch>
      </div>
      <div class="option swarms">
        <label>Accessible Swarms</label>
        <div class="tree-container" [class.disabled]="adminField">
          <tree #treeComponent [tree]="tree" [settings]="treeSettings" (nodeSelected)="onSwarmClicked($event)"></tree>
        </div>
      </div>
    </div>
  </div>

  <div class="create-user" *ngIf="creatingUser">

    <div class="top">
      <h3>Create User</h3>
      <button class="save" [class.disabled]="!createUserValid()" (click)="saveCreateUserClicked()">
        Save
      </button>
    </div>

    <div class="options">
      <div class="option username">
        <label>Username</label>
        <input type="text" [(ngModel)]="usernameField" autocomplete="new-password">
      </div>
      <div class="option password">
        <label>Password</label>
        <input type="password" [(ngModel)]="passwordField" autocomplete="new-password">
      </div>
      <div class="option demo">
        <label>Demo</label>
        <ui-switch [checked]="false" size="small" color="rgb(89, 197, 128)" [(ngModel)]="demoField"></ui-switch>
      </div>
      <div class="option admin">
        <label>Admin</label>
        <ui-switch [checked]="false" size="small" color="rgb(89, 197, 128)" [(ngModel)]="adminField"></ui-switch>
      </div>
      <div class="option swarms">
        <label>Accessible Swarms</label>
        <div class="tree-container" [class.disabled]="adminField">
          <tree [tree]="tree" [settings]="treeSettings" (nodeSelected)="onSwarmClicked($event)"></tree>
        </div>
      </div>
    </div>
  </div>
</div>