.left, .right {
    padding: 1.5rem;
}

.left {
    width: 40%;
    color: #666;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
}

.left>.main {
    overflow-y: auto;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.top>h3 {
    margin: 0
}

button.add-user {
    background-color: #62c562;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    text-align: left;
}

table td {
    border-top: 1px solid #dcdcdc;
    padding: 0.6rem 0;
}

table tr:first-child>td {
    border-top: 0;
}

table tr:hover>td {
    background-color: #f9f9f9;
    cursor: pointer;
}

table i {
    color: #9e9e9e;
}

.right {
    width: 60%;
    background-color: #f9f9f9;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-message {
    color: #a5a5a5;
}

.manager {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

button.delete-user {
    padding: 0;
    height: 1.7rem;
    width: 1.7rem;
    background-color: #ff6565;
}

.create-user {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.options {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option>*:nth-child(2) {
    width: 14rem;
}

button.save {
    background-color: #5796d4;
}

/* Styling swarm tree */

.tree-container {
    border: 0.01rem solid #bfbfbf;
    background-color: white;
    width: 10.7rem;
    height: 10rem;
    overflow-y: auto;
    padding: 0.5rem 0;
}

.tree-container.disabled {
    opacity: 0.5;
    background-color: #cef5ce;
    pointer-events: none;
}

.tree-container ul {
    padding: 0;
    margin: 0;
}

/* Default styling for all buttons */

button {
    position: relative;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: grey;
    color: white;
    transition: 0.2s;
}

button.disabled {
    background-color: #adadad;
}

button.disabled:hover {
    cursor: initial;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

button:active:hover {
    top: 0.1rem;
}

