.events {
  overflow-y: auto;
}

.events>table {
  width: 100%;
  height: 100%;
  color: #666;
  border-collapse: collapse;
}

.events tr.pending {
  background-color: #f7f8ff;
}

.events tr.pending:hover {
  cursor: pointer;
}

.events>table>thead>tr>th {
  text-align: left;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}

.events>table>tbody>tr>td {
  border-top: 1px solid #dcdcdc;
  padding: 0.6rem 1rem;

}

/* Styling Icon */

.fa-arrow-up {
  color: #7fc57f;
}

.fa-arrow-down {
  color: #e67676;
}