<h1 mat-dialog-title>Confirmation required</h1>
<div class="events">
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Power (MW)</th>
        <th>Start</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of events | formatFahrplan">
        <td>
          <i *ngIf="row.applicationType == 2" class="fa fa-balance-scale" aria-hidden="true"></i>
          <i *ngIf="row.applicationType == 0" class="fa fa-arrow-up" aria-hidden="true"></i>
          <i *ngIf="row.applicationType == 1" class="fa fa-arrow-down" aria-hidden="true"></i>
          {{row.englishApplicationType}}
        </td>
        <td>{{row.power}}</td>
        <td>{{row.start}}</td>
        <td>{{row.dur}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="clickedCancel()">Deny request(s)</button>
  <button mat-stroked-button (click)="clickedConfirm()">Confirm request(s)</button>
</div>