<router-outlet></router-outlet>

<!-- Show a spinner while we wait for the initial route to load -->
<div class="app-loading" *ngIf="!loaded">
  <span>
  </span>
  <span>
  </span>
  <span>
  </span>
</div>