.content-top {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.content-top>div {
    display: flex;
}

.content-top>.content-left>h1 {
    margin: 2rem;
    color: grey;
    font-size: 1.8rem;
}

.energy-source-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 13rem;
}

.content-top>.content-right {
    color: #505050;
}

.stop-trading-button>button {
    background-color: #ff6565;
    border: none;
    color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 0.4rem;
    transition: 0.2s;
}

.stop-trading-button>button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 0.1rem #ff6565;
    color: #ff6565;
    background: none;
}

.content-top>.content-right>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
}

.content-top>.content-right>.contact {
    flex-direction: row;
}

.contact>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact>.numbers {
    width: 15rem;
}

.contact>.numbers>div:first-child {
    margin-bottom: 0.3rem;
}

.contact>.numbers>div {
    display: flex;
    justify-content: space-between;
}

.contact>.icon {
    margin-right: 1rem;
}

.contact i {
    font-size: 2rem;
    color: #989898;
}

.content-bottom {
    display: flex;
    flex-grow: 1;
    min-height: 0;
}

.controller {
    display: flex;
    flex-direction: column;
}

.controller>h3 {
    text-align: center;
    color: #868686;
}

.controller>form {
    display: flex;
    margin: 0 1rem 1rem 1rem;
    flex-grow: 1;
}

.controller>form>.left {
    flex-grow: 1;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.controller>form>.left>div {
    display: flex;
    flex-direction: column;
}

.controller .slider {
    display: flex;
    white-space: nowrap;
    margin: 7px 0px 7px 0px;
}

.controller .slider>input {
    flex-grow: 1;
}

.controller>form>.right {
    display: flex;
    align-items: center;
    width: 4rem;
}

.content-bottom>.content-left {
    width: 33.3%;
    max-width: 30rem;
}

.content-bottom>.content-right {
    width: 77.7%;
}

.content-bottom>div>div {
    height: calc(33.3% - 1rem);
}

.content-bottom>div>div:first-child {
    margin-top: 0;
}

.content-bottom>.content-left>div {
    margin-right: 0.5rem;
}

.content-bottom>.content-right>div {
    margin-left: 0.5rem;
}

.content-bottom>.content-right>div:first-child {
    height: calc(100% - 1rem);
}

.power-management {
    overflow-y: auto;
}

.power-management tr.confirmable {
    background-color: #f7f8ff;
}

.power-management tr.confirmable:hover {
    cursor: pointer;
}

/* Styling table */

:host ::ng-deep p-table {
    width: 100%;
    min-width: 600px;
    color: #666;
    border-collapse: collapse;
    margin: 0.1rem 0.5rem 0.5rem 0.5rem;
}

:host ::ng-deep .ui-table-thead {
    overflow: hidden;
    text-align: left;
    line-height: 2.0rem;
    /*padding: 10.0rem 0rem;*/
    padding-bottom: 1.0rem;
    border-bottom: 1.5px solid #8a8a8a;
}

:host ::ng-deep .ui-table-tbody>tr>td {
    text-align: left;
    border-top: 1px solid #dcdcdc;
    padding: 0.6rem 0;
}

.highlighted {
    padding: 0.2rem 0.1rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 0.8rem;
    width: 3rem;
    background-color: #9a9a9a;
    color: white;
}

.state {
    padding: 0.3rem;
    border-radius: 0.3rem;
    width: 7rem;
    text-align: center;
    display: inline-block;
}

.approved {
    background-color: #cef5ce8f;
}

.disapproved {
    background-color: #fde9e9;
}

:host ::ng-deep i {
    width: 3rem;
}

.full-height-turbo-workaround ::ng-deep .ui-table {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .full-height-turbo-workaround ::ng-deep .ui-table-scrollable-wrapper {
    flex: 1 1 0;
  }
  
  .full-height-turbo-workaround ::ng-deep .ui-table-scrollable-view {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .full-height-turbo-workaround ::ng-deep .ui-table-scrollable-body {
    flex: 1 1 0;
  }

/* Styling arrow button */

.request-button {
    border: none;
    background: none;
    padding: 0;
    font-size: 0.9rem;
    color: grey;
}

.request-button:focus {
    outline: none;
}

.request-button.active:hover {
    cursor: pointer;
}

.request-button.active {
    color: #4c9a4c;
}

.request-button.arrow>svg {
    width: 100%;
    height: 100%;
    fill: lightgrey;
    transition: 0.2s;
    transform: scale(0.9);
}

.request-button.active>svg {
    fill: #80d484;
    transform: scale(1);
}

.request-button.up>svg {
    transform: rotate(180deg) scale(0.9);
}

.request-button.up.active>svg {
    transform: rotate(180deg) scale(1);
}

.request-button.scales>i {
    color: lightgrey;
    font-size: 3rem;
    margin-bottom: 0.7rem;
    margin-left: 0.2rem;
    transition: 0.2s;
    transform: scale(0.9)
}

.request-button.active.scales>i {
    color: #80d484;
    transform: scale(1);
}

/* Styling Icon */

.fa-arrow-up {
    color: #7fc57f;
}

.fa-arrow-down {
    color: #e67676;
}

/* Number input */

input[type=number] {
    width: 100%;
}

/* Slider */

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0px 3px 0px 0px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.2rem;
    cursor: pointer;
    background: white;
    border-radius: 0.2rem;
    border: 0.1rem solid #00000027;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background: #80d484;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.45rem;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 0.2rem;
    cursor: pointer;
    background: #00000027;
    border-radius: 0.2rem;
  }
  input[type=range]::-moz-range-thumb {
    height: 1rem;
    width: 1rem;
    border: none;
    border-radius: 1rem;
    background: #80d484;
    cursor: pointer;
  }

/* Cancel button */
.icon-cell {
    height: 100%;
    width: 100%;
}

#cancel-button {
    text-align: center;
}
.can-cancel {
    color: red;
    cursor: pointer;
}
.no-cancel {
    color: lightgrey;
}
    