<div class="content-top">

  <div class="content-left">
    <h1>Energy Management</h1>
    <div class="energy-source-select">
      <div>Energy Source:</div>
      <select [(ngModel)]="chargeSource">
        <option value="CHPP">CHPP</option>
        <option value="MANUAL">Manual</option>
      </select>
    </div>
  </div>

  <div class="content-right">
    <div class="stop-trading-button">
      <button>Stop trading</button>
    </div>
    <div class="contact">
      <div class="icon">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
      <div class="numbers">
        <div>
          <div class="name">Caterva:</div><div class="number">+49 (0)800 798 93 50</div>
        </div>
        <div>
          <div class="name">Makedskraft:</div><div class="number">+45 8940 7045</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-bottom">

  <div class="content-left">

    <div class="dashlet controller">
      <h3>Charge {{chargeSource}}</h3>
      <form #chargeForm="ngForm" (ngSubmit)="submitChargeForm(chargeForm.form);">
        <div class="left">
          <div>
            <label>Power (MW)</label>
            <div class="slider" *ngIf="chargeSource == 'CHPP'">
              <input type="range" min="0" max="0.25" step="0.05" name="power" [(ngModel)]="selectedChargePower" ngModel>
              <div>{{(selectedChargePower).toFixed(2)}} MW</div>
            </div>
            <div *ngIf="chargeSource != 'CHPP'">
              <input type="number" id="power" name="power" [(ngModel)]="selectedChargePower" ngModel>
            </div>
          </div>
          <div>
            <label>Start</label>
            <input autocomplete="off" name="start" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time" [(ngModel)]="selectedChargeStart" ngModel readonly>
            <owl-date-time #dt1 [stepMinute]="15" [startAt]="getHourStart()"></owl-date-time>
          </div>
          <div>
            <label>Duration (min)</label>
            <input type="number" min="0" step="15" id="duration" name="duration" [(ngModel)]="selectedChargeDuration" ngModel>
          </div>
        </div>
        <div class="right">
          <button class="request-button arrow up" [class.active]="isChargeValid()" type="submit">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 512.171 512.171" style="enable-background:new 0 0 512.171 512.171;" xml:space="preserve">
              <g>
                <g>
                  <path d="M479.046,283.925c-1.664-3.989-5.547-6.592-9.856-6.592H352.305V10.667C352.305,4.779,347.526,0,341.638,0H170.971
                    c-5.888,0-10.667,4.779-10.667,10.667v266.667H42.971c-4.309,0-8.192,2.603-9.856,6.571c-1.643,3.989-0.747,8.576,2.304,11.627
                    l212.8,213.504c2.005,2.005,4.715,3.136,7.552,3.136s5.547-1.131,7.552-3.115l213.419-213.504
                    C479.793,292.501,480.71,287.915,479.046,283.925z"/>
                </g>
              </g>
            </svg>
            Request
          </button>
        </div>
      </form>
    </div>

    <div class="dashlet controller">
      <h3>Discharge {{chargeSource}}</h3>
      <form #dischargeForm="ngForm" (ngSubmit)="submitDischargeForm(dischargeForm.form);">
        <div class="left">
          <div>
            <label>Power (MW)</label>
            <div class="slider" *ngIf="chargeSource == 'CHPP'">
              <input type="range" min="0" max="0.25" step="0.05" name="power" [(ngModel)]="selectedDischargePower" ngModel>
              <div>{{(selectedDischargePower).toFixed(2)}} MW</div>
            </div>
            <div *ngIf="chargeSource != 'CHPP'">
              <input type="number" id="power" name="power" [(ngModel)]="selectedChargePower" ngModel>
            </div>
          </div>
          <div>
            <label>Start</label>
            <input autocomplete="off" name="start" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Date Time" [(ngModel)]="selectedDischargeStart" ngModel readonly>
            <owl-date-time #dt2 [stepMinute]="15" [startAt]="getHourStart()"></owl-date-time>
          </div>
          <div>
            <label>Duration (min)</label>
            <input type="number" min="0" step="15" id="duration" name="duration" [(ngModel)]="selectedDischargeDuration" ngModel>
          </div>
        </div>
        <div class="right">
          <button class="request-button arrow" [class.active]="isDischargeValid()" type="submit">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              viewBox="0 0 512.171 512.171" style="enable-background:new 0 0 512.171 512.171;" xml:space="preserve">
              <g>
                <g>
                  <path d="M479.046,283.925c-1.664-3.989-5.547-6.592-9.856-6.592H352.305V10.667C352.305,4.779,347.526,0,341.638,0H170.971
                    c-5.888,0-10.667,4.779-10.667,10.667v266.667H42.971c-4.309,0-8.192,2.603-9.856,6.571c-1.643,3.989-0.747,8.576,2.304,11.627
                    l212.8,213.504c2.005,2.005,4.715,3.136,7.552,3.136s5.547-1.131,7.552-3.115l213.419-213.504
                    C479.793,292.501,480.71,287.915,479.046,283.925z"/>
                </g>
              </g>
            </svg>
            Request
          </button>
        </div>
      </form>
    </div>

    <div class="dashlet controller">
      <h3>Control Reserve</h3>
      <form #controlReserveForm="ngForm" (ngSubmit)="submitControlReserveForm(controlReserveForm.form);">
        <div class="left">
          <div>
            <label>Power (MW)</label>
            <input type="number" id="power" name="power" [(ngModel)]="selectedFCRPower" ngModel>
          </div>
          <div>
            <label>Time Range</label>
            <input autocomplete="off" name="range" [owlDateTime]="dt3" [selectMode]="'range'" [owlDateTimeTrigger]="dt3" placeholder="Date Time" [(ngModel)]="selectedFCRRange" ngModel readonly>
            <owl-date-time #dt3 [stepMinute]="15" [startAt]="getMidnightToday()"></owl-date-time>
          </div>
        </div>
        <div class="right">
          <button class="request-button scales" [class.active]="isFCRValid()" type="submit">
            <i class="fa fa-balance-scale" aria-hidden="true"></i>
            Request
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="content-right">
    <div class="dashlet power-management">
      <p-table class="full-height-turbo-workaround" [value]="fahrplan | formatFahrplan" [columns]="cols" [scrollable]="true">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of cols" [style.width]="col.width" [style.min-width]="col.minWidth">
                  {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" class="tableBody" let-row let-columns="columns">
          <tr
            [class.confirmable]="row.state == 0"
            (click)="fahrplanRowClicked(row)" 
            matTooltip="Click to view"
            [matTooltipDisabled]="row.state != 0">
            <td [style.width]="columns[0].width" [style.min-width]="columns[0].minWidth">
              <i *ngIf="row.applicationType == 2" class="fa fa-balance-scale" aria-hidden="true"></i>
              <i *ngIf="row.applicationType == 0" class="fa fa-arrow-up" aria-hidden="true"></i>
              <i *ngIf="row.applicationType == 1" class="fa fa-arrow-down" aria-hidden="true"></i>
            </td>
            <td [style.width]="columns[1].width" [style.min-width]="columns[1].minWidth">
              {{row.englishApplicationType}}
            </td>
            <td [style.width]="columns[2].width" [style.min-width]="columns[2].minWidth"><div class="state" [ngClass]="{'approved': row.state == 3, 'disapproved': row.state == 4}">{{row.englishState}}</div></td>
            <td [style.width]="columns[3].width" [style.min-width]="columns[3].minWidth">{{row.power}}</td>
            <td [style.width]="columns[4].width" [style.min-width]="columns[4].minWidth">{{row.start}}</td>
            <td [style.width]="columns[5].width" [style.min-width]="columns[5].minWidth">{{row.dur}}</td>
            <td [style.width]="columns[6].width" [style.min-width]="columns[6].minWidth"><div [class.highlighted]="row.source">{{row.source}}</div></td>
            <td  [style.width]="columns[7].width" [style.min-width]="columns[7].minWidth" id="cancel-button">
              <span class="icon-cell" *ngIf="row.applicationType == 2 && row.state == 3" (click)="openCancelConfirmationDialog(row)">
                <i class="fa fa-ban can-cancel" aria-hidden="true"></i>
              </span>
              <span class="icon-cell" *ngIf="row.applicationType !== 2 || row.state !== 3" matTooltip="This cannot be cancelled">
                <i class="fa fa-ban no-cancel" aria-hidden="true"></i>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
