<div *ngIf="!chartVisible || loading" class="spinner-container">
    <div class="spinner"></div>
</div>
<div *ngIf="chartVisible" [hidden]="loading" class="chart-container" id="power-line-chart">
    <chart [options]="chartOptions" (load)="onGraphLoad($event.context)"></chart>
</div>
