.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%
}

.desc-text {
  color: #b5b4b4;
  font-size: 2rem;
}

.refresh-text {
  color: #b5b4b4;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}
