<div *ngIf="!createChart || loading" class="spinner-container">
    <div class="spinner"></div>
</div>
<div *ngIf="createChart" [hidden]="loading" class="chart-container" id="temp-bar-chart">
    <chart [options]="chartOptions" (load)="onGraphLoad($event.context)"></chart>
</div>