<div class="alarms">
  <h3>Alarms</h3>
  <div class="alarm" 
    [ngClass]="[ 
      alarm.priority, 
      wrapped ? 'wrapped' : 'unwrapped', 
      clickable ? 'clickable' : '', 
      alarm.priority == AlarmPriority.PRIORITY_HIGH && alarm.muted == false ? 'critical' : '' 
    ]" 
    *ngFor="let alarm of alarms" 
    (click)="onAlarmClicked(alarm)"
    (mouseenter)="onAlarmHovered(alarm)"
    [matTooltip]="tooltip != null ? tooltip : alarm.message.instructions" 
    matTooltipPosition="right">

    <div class="symbol" 
      *ngIf="(alarm.priority == AlarmPriority.PRIORITY_LOW || alarm.priority == undefined) && alarm.sourceType != AlarmSourceType.SWARM">
        <i class="fa fa-question" aria-hidden="true"></i>
    </div>
    <div class="symbol" 
         *ngIf="alarm.priority == AlarmPriority.PRIORITY_MEDIUM && alarm.sourceType != AlarmSourceType.SWARM">
         <i class="fa fa-exclamation" aria-hidden="true"></i>
    </div>
    <div class="symbol" *ngIf="alarm.priority == AlarmPriority.PRIORITY_HIGH && alarm.sourceType != AlarmSourceType.SWARM">
      <i class="fa fa-bolt" aria-hidden="true"></i>
    </div>
    <div class="symbol" *ngIf="alarm.sourceType == AlarmSourceType.SWARM">
      <i class="fa fa-sitemap" aria-hidden="true"></i>
    </div>

    <div class="content">
      <div class="message">{{alarm.message.info}}</div>
      <div class="info">
        <div class="source" *ngIf="showSource">{{alarm.source}}</div>
        <div class="ts" [innerHTML]="formatTs(alarm)"></div>
      </div>
    </div>
    <div class="actions" *ngIf="(!wrapped && !readonly)">
      <i class="fa fa-times" aria-hidden="true" (click)="onAlarmCancelClicked(alarm)"></i>
      <i class="fa fa-envelope" aria-hidden="true" *ngIf="(alarm.sourceType != AlarmSourceType.SWARM)" (click)="onEmailClicked(alarm)"></i>
    </div>
  </div>
  <div *ngIf="alarms.length < 1" class="no-alarms">
    {{noAlarmsMessage}}
  </div>
</div>