/* Style alarm changes */

.alarms {
  background-color: white;
  flex-grow: 1;
}

.alarm>.content>.info>.ts {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alarm.wrapped {
  padding-right: 0;
}

.alarm.unwrapped {
  padding-right: 2rem;
}

.alarm.wrapped>.content {
  overflow-x: hidden;
}

.alarm.wrapped>.content>.message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.alarm.unwrapped>.content>.message {
  white-space: initial;
}

.alarm.wrapped:hover>.actions {
  display: none;
}

/* Styling alarm changes */
.alarm {
  padding: 0.5rem;
  margin: 0;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

.alarm.critical {
  animation: critical-pulse 0.8s infinite alternate ease-in-out;
}

.alarm:hover {
  background-color: #f7f7f7;
}

.alarm.clickable:hover {
  cursor: pointer;
}

.alarm>.content>.info {
  justify-content: space-between;
}

.alarm>.content>.info>.source {
  background-color: #b3b3b3;
  color: white;
  border-radius: 0.2rem;
  padding: 0.1rem;
}

.alarms {
  color: #666;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 1rem;
}

.alarms>.no-alarms {
  text-align: center;
  color: #a2a2a2;
}

.alarms>h3 {
  text-align: center;
  font-weight: 100;
  color: #868686;
}

.alarms>.alarm {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  flex-shrink: 0;
  position: relative;
}

.alarm>.symbol {
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 1rem;
  flex-shrink: 0;
  background-color: #c5c5c5;
}

.alarm.low>.symbol {
  background-color: #f5cb5d;
}

.alarm.medium>.symbol {
  background-color: #ff7878;
}

.alarm.high>.symbol {
  background-color: #3c3c3c;
}

.alarm>.content {
  text-align: left;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.alarm>.content>.info {
  display: flex;
  color: #9a9a9a;
  font-size: 0.8rem;
  line-height: 1rem;
}

.alarm>.content>.message {
  text-align: left;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.alarm>.content.unwrapped>.message {
  white-space: initial;
}

.alarm.high>.content>.message {
  color: #ff5454;
}

.alarm>.actions {
  position: absolute;
  right: 0;
  height: 100%;
  width: 2rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: lightgrey;
  display: none;
}

.alarm:hover>.actions {
  display: flex;
}

.alarm>.actions>i {
  padding: 0.25rem;

}

.alarm>.actions>i:hover {
  color: grey;
  cursor: pointer;
}

@keyframes critical-pulse {
  0% { background-color: initial; }
 100% { background-color: #ffdfdf; }
}