<div class="content-top">
  <h1>Devices</h1>
  <div class="content-right">
    <div class="stats">
      <div class="stat">
        <div class="label">Σ SoC:</div>
        <div class="value">{{totalCharge}} kWh</div>
      </div>
      <div class="stat">
        <div class="label">⌀ SoC:</div>
        <div class="value">{{meanSoc}} %</div>
      </div>
      <div class="stat">
        <div class="label">Max Temp:</div>
        <div class="value">{{maxTemp}} °C</div>
      </div>
      <div class="stat">
        <div class="label">Σ Pos Limit:</div>
        <div class="value">{{totalPosLimit}} kW</div>
      </div>
      <div class="stat">
        <div class="label">Σ Neg Limit:</div>
        <div class="value">{{totalNegLimit}} kW</div>
      </div>
      <div class="stat">
        <div class="label">Σ Offset:</div>
        <div class="value">{{totalOffset}} kW</div>
      </div>
    </div>
    <app-swarm-health-bar
      [devices]="devices">
    </app-swarm-health-bar>
  </div>
</div>

<app-device-list style="height:100%; display: flex;" class="content-bottom" *ngIf="loading == false && filteredDevices.length > 0" 
  [devices]="filteredDevices" 
  [alarms]="alarmsData"
  [readonly]="readonlySwarm"
  [loading]="loading">
</app-device-list>
<div *ngIf="loading == false && devices.length < 1" class="empty-swarm-text">
  Empty swarm
</div>
<div *ngIf="loading == true" class="loading-container">
  <div class="app-loading" *ngIf="!loaded">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>