.content-top {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}

.content-top>.content-right {
  display: flex;
  flex-direction: column;
  width: 35rem;
  margin: 0.5rem 1rem;
  justify-content: space-between;
}

.content-top>.content-right>.stats {
  display: flex;
  flex-grow: 1;
  margin-top: 0.5rem;
}

.content-top>.content-right>.stats>.stat {
  color: grey;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-top>.content-right>.stats>.stat>.label {
  margin-bottom: 0.5rem;
}

.empty-swarm-text {
  font-size: 2rem;
  color: #b5b4b4;
  top: 50%;
  position: absolute;
  width: 100%;
  text-align: center;
}

.loading-container {
  flex-grow: 1;
  min-height: 0;
  align-items: center;
  display: flex;
}