<div class="device-table-container dashlet">
  <p-table class="deviceTable full-height-turbo-workaround" [columns]="cols" [value]="mergedDevices" [scrollable]="true">

    <ng-template pTemplate="header" class="tableHeader" let-columns>
      <tr>
          <th *ngFor="let col of cols" (click)="onSortChanged(col.type, col.attribute)">
              <p [innerHTML]="col.header"></p>
              <i class="fa fa-sort" aria-hidden="true" *ngIf="sortByAttr != col.attribute"></i>
              <i class="fa fa-sort-desc" aria-hidden="true" *ngIf="sortByAttr == col.attribute && !sortAsc"></i>
              <i class="fa fa-sort-asc" aria-hidden="true" *ngIf="sortByAttr == col.attribute && sortAsc"></i>
          </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-device let-columns="columns">
      <tr class="main-row" (click)="toggleDeviceInfo(device)">
        <td>{{device.info.id}}</td>
        <td [ngClass]="getStateClass(device)"><div class="highlighted">{{device.data.state.length > 0 ? formatState(device) : '-'}}</div></td>
        <td>
          <div class="ui-switch-controllable" 
              (click)="onAdminSwitchClicked(device, $event)" 
              [matTooltip]="device.info.preferences.note ? 'Note: ' + device.info.preferences.note : 'No note, car gone'"
              [matTooltipDisabled]="device.info.preferences.lock != true || readonly == true">
            <ui-switch 
              [disabled]="adminChangePendingDevices.has(device.info.id) || device.info.preferences.lock == true || readonly == true" 
              [checked]="device.data.admin.length > 0 && device.data.admin[0][1] ? true : false" 
              size="small" 
              color="rgb(89, 197, 128)">
            </ui-switch>
          </div>
        </td>
        <td>
          <div class="ui-switch-controllable" 
              (click)="onPcpSwitchClicked(device, $event)"
              [matTooltip]="device.info.preferences.note ? 'Note: ' + device.info.preferences.note : 'No note, car gone'"
              [matTooltipDisabled]="device.info.preferences.lock != true || readonly == true">
            <ui-switch 
              [disabled]="pcpChangePendingDevices.has(device.info.id) || device.info.preferences.lock == true || readonly == true"
              [checked]="device.data.pcp.length > 0 && device.data.pcp[0][1] ? true : false" 
              size="small" 
              color="rgb(106, 176, 236)">
            </ui-switch>
          </div>
        </td>
        <td>{{device.info.type !== undefined ? device.info.type : '-'}}</td>

        <td class="data-value" 
          [style.color]="isActive(device) ? calcDataColour(device.data.soc) : ''" 
          [matTooltipShowDelay]="TOOLTIP_SHOW_DELAY" 
          [matTooltip]="formatDataTimestamp(device.data.soc)" 
          matTooltipPosition="below" 
          [matTooltipDisabled]="!isActive(device)">
        {{device.info.cap !== undefined && isActive(device) ? round(calculateCharge(device), 2) : '-'}}
        </td>
        <td class="data-value"  
          [style.color]="isActive(device) ? calcDataColour(device.data.soc) : ''"
          [matTooltipShowDelay]="TOOLTIP_SHOW_DELAY" 
          [matTooltip]="formatDataTimestamp(device.data.soc)" 
          matTooltipPosition="below" 
          [matTooltipDisabled]="!isActive(device)">
          {{isActive(device) ? formatLatestData(device.data.soc) : '-'}}
        </td>
        <td class="data-value"  
          [style.color]="isActive(device) ? calcDataColour(device.data.temp) : ''"
          [matTooltipShowDelay]="TOOLTIP_SHOW_DELAY" 
          [matTooltip]="formatDataTimestamp(device.data.temp)" 
          matTooltipPosition="below" 
          [matTooltipDisabled]="!isActive(device)">
          {{isActive(device) ? formatLatestData(device.data.temp) : '-'}}
        </td>

        <td>{{device.data.prlPos.length > 0 ? round(device.data.prlPos[0][1]/1000, 2) : '-'}}</td>
        <td>{{device.data.prlNeg.length > 0 ? round(device.data.prlNeg[0][1]/1000, 2) : '-'}}</td>
        <td>{{device.data.offset.length > 0 ? round(device.data.offset[0][1]/1000, 2) : '-'}}</td>

        <td>
          <span class="alarm-number low-priority" *ngIf="filterAlarmsByPriority('low', device).length">{{filterAlarmsByPriority('low', device).length}}</span>
          <span class="alarm-number medium-priority" *ngIf="filterAlarmsByPriority('medium', device).length">{{filterAlarmsByPriority('medium', device).length}}</span>
          <span class="alarm-number high-priority" *ngIf="filterAlarmsByPriority('high', device).length">{{filterAlarmsByPriority('high', device).length}}</span>
        </td>
      </tr>
      <tr class="more-info" *ngIf="infoVisableDevices.has(device.info.id)">
        <td colspan="12">
          <app-device-info [device]="device" [alarms]="deviceAlarms[device.info.id]" [readonly]="readonly"></app-device-info>
        </td>
      </tr> 
    </ng-template>
  </p-table>

</div>
