.device-table-container {
  display: flex;
  flex-grow: 1;
  padding: 0.1rem 1rem 1rem 1rem;
}

/* Style tables */
.device-table-container>.deviceTable {
  flex-grow: 1;
  color: #666;
  border-collapse: collapse;
  width: 100%;
  min-width: 920px;
}

:host ::ng-deep .ui-table-thead>tr>th {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  user-select: none;

  display: inline-block;
  overflow: hidden;
  width: calc(100% / 12);
  min-width: 75px;
}

:host ::ng-deep .ui-table-thead>tr{
  border-bottom: 1.5px solid #8a8a8a;
}

:host ::ng-deep .ui-table-thead>tr>th:hover {
  cursor: pointer;
}

.main-row:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.more-info>td {
  height: 20rem;
}

:host ::ng-deep .ui-table-tbody>tr>td {
  overflow: hidden;
  line-height: 1.2rem;
  border-top: 1px solid #dcdcdc;
  align-content: center;
  text-align: center;
  min-width: 75px;
}

:host ::ng-deep .ui-table-thead>tr>th>p {
  display: inline;
}

:host ::ng-deep .ui-table-thead>tr.more-info>td {
  padding: 0;
}

:host ::ng-deep .ui-table-tbody>tr>td>div {
  display: inline-block;
  color: white;
}

:host ::ng-deep .ui-table-tbody>tr>td>div.highlighted {
  line-height: 1.0rem;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  width: 4.2rem;
}

:host ::ng-deep .ui-table-tbody>tr>td>span {
  color: white;
  font-size: 0.8rem;
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
}

:host ::ng-deep .ui-table-tbody>tr>td>span.low-priority {
  background-color: #f5cb5d;
}

:host ::ng-deep .ui-table-tbody>tr>td>span.medium-priority {
  background-color: #ff7878;
}

:host ::ng-deep .ui-table-tbody>tr>td>span.high-priority {
  background-color: #3c3c3c;
}

:host ::ng-deep .ui-table-tbody>tr>td.active>div {
  background-color: #59c580;
}

:host ::ng-deep .ui-table-tbody>tr>td.inactive>div {
  background-color: #b9b8b8;
}

:host ::ng-deep .ui-table-tbody>tr>td.not-matched>div {
  background-color: #ff7878;
}

:host ::ng-deep .ui-table-tbody>tr>td>.ui-switch-controllable {
  line-height: 0;
  width: 2rem;
  height: 2rem;
}

:host ::ng-deep .ui-table-tbody>tr>td>.ui-switch-controllable>ui-switch {
  pointer-events: none;
  position: relative;
  top: 0.35rem;
}

@keyframes moving-gradient {
  0% { background-position: -250px 0; }
  100% { background-position: 250px 0; }
}

.full-height-turbo-workaround ::ng-deep .ui-table {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.full-height-turbo-workaround ::ng-deep .ui-table-scrollable-wrapper {
  flex: 1 1 0;
}

.full-height-turbo-workaround ::ng-deep .ui-table-scrollable-view {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.full-height-turbo-workaround ::ng-deep .ui-table-scrollable-body {
  flex: 1 1 0;
}