.header {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header>i {
  padding: 0.25rem;
}

.header>i:hover {
  cursor: pointer;
  color: #209e91;
}

h3 {
  font-weight: 400;
}

.swarm-row {
  line-height: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 0;
}

.swarm-container {
  padding: 0 0 0 1rem;
}

.swarm-container>* {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Others*/
}

.swarm-row:hover {
  cursor: pointer;
  color: #209e91;
}

.swarm-row .highlighted {
  color: white;
}

.swarm-row .highlighted:hover {
  cursor: initial;
}
