<div class="header">
  <h3>Swarms</h3>
  <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="openSwarmManagement()" *ngIf="manageEnabled"></i>
</div>

<ng-template #recursiveList let-swarms>
  <div class="swarm-container" *ngFor="let swarm of swarms">
    <div class="swarm-row">
      <div 
        class="swarm-row-left"
        [routerLink]="[swarm.routerLink, this.router.url.split('/')[2]]" 
        routerLinkActive="active">
        <div class="branch"></div>
        <div 
          class="swarm-name" 
          [class.highlighted]="swarm.fullName == currentSwarm">
          {{swarm.name}}
        </div>
      </div>
      <div class="swarm-row-right" (click)="toggleChildrenVisibility(swarm)">
        <div class="dropdown" *ngIf="swarm.children.length > 0">
          <i class="fa fa-caret-down" aria-hidden="true" *ngIf="!swarm.childrenVisible"></i>
          <i class="fa fa-caret-up" aria-hidden="true" *ngIf="swarm.childrenVisible"></i>
        </div>
      </div>
    </div>
    <ng-container *ngIf="swarm.childrenVisible">
      <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: swarm.children }"></ng-container>
    </ng-container>
  </div>
</ng-template>
<ng-container *ngIf="swarms">
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: swarms }"></ng-container>
</ng-container>
