<div class="device-state-bar-container">
  Swarm health: 
  <div class="device-state-bar">
    <div class="active" 
        [style.flex-grow]="numActive"
        [matTooltip]="'Active: ' + numActive + '/' + numDevices + ' - FCR: ' + numActiveFcr">
    </div>
    <div class="inactive" 
        [style.flex-grow]="numInactive" 
        [matTooltip]="'Inactive: ' + numInactive + '/' + numDevices"
        [matTooltipDisabled]="noDevices">
    </div>
    <div class="not-matched" 
        [style.flex-grow]="numNotMatched" 
        [matTooltip]="'Not available: ' + numNotMatched + '/' + numDevices">
    </div>
  </div>
</div>