.device-state-bar-container {
  color: grey;
  display: flex;
  align-items: center;
}

.device-state-bar-container>.device-state-bar {
  display: flex;
  height: 0.4rem;
  border-radius: 0.25rem;
  overflow: hidden;
  margin: 0rem 1.5rem;
  margin-bottom: -0.2rem;
  flex-grow: 1;
}

.device-state-bar-container>.device-state-bar>.active {
  background-color: #59c580;
  transition: 0.3s;
}

.device-state-bar-container>.device-state-bar>.inactive {
  background-color: #b9b8b8;
  transition: 0.3s;
}

.device-state-bar-container>.device-state-bar>.not-matched {
  background-color: #ff7878;
  transition: 0.3s;
}
