.sidebar-main-container {
    background-color: #f0f3f4;
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.sidebar-main-container>app-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 6.5rem;
    overflow-y: auto;
}

/* Makes the sidebar open on top of the main */
.sidebar-main-container>app-sidebar {
    width: 10rem;
    height: calc(100% - 6.5rem);
    margin-left: -10rem;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    margin-top: 6.5rem;
    background-color: rgba(0,0,0,0.80);
    transition: 0.3s;
    color: #c5c5c5;
    flex-shrink: 0;
}

.sidebar-main-container>app-sidebar.visible {
    margin-left: 0;
}

/* Used to make a clickable area outside of the
sidebar to close it */   
.sidebar-main-container>.sidebar-closer {
    margin-top: 6.5rem;
    background-color: initial;
    position: absolute;
    z-index: 2;
    width: calc(100% - 10rem);
    margin-left: 10rem;
    height: calc(100% - 6.5rem);
}

app-topbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    color: white;
    background-color: #1C2B36;
    box-shadow: 2px 0 3px rgba(0,0,0,.5);
}
