<app-topbar></app-topbar>
<div class="sidebar-main-container">
  <app-sidebar 
    [class.visible]="sidebarIsOpen"
    [swarms]="swarmTrees"
    [currentSwarm]="currentSwarm"
    [manageEnabled]="adminUser"
    (closeClicked)="closeSidebar()"
  ></app-sidebar>
  <div class="sidebar-closer" *ngIf="sidebarIsOpen" (click)="closeSidebar()"></div>
  <app-main></app-main>
</div>