<div class="content-top">
  <h1>Overview</h1>
  <div class="content-right">
    <div class="stats">
      <div class="stat">
        <div class="label">Control Reserve:</div>
        <div class="value">{{mathRound(controlReserve)}} kW</div>
      </div>
      <div class="stat">
        <div class="label">PV Power:</div>
        <div class="value">{{mathRound(pvPower)}} kW</div>
      </div>
      <div class="stat">
        <div class="label">HH Consume:</div>
        <div class="value">{{mathRound(hhConsumption)}} kW</div>
      </div>
      <div class="stat">
        <div class="label">SoC:</div>
        <div class="value">{{mathRound(soc)}} %</div>
      </div>
    </div>
    <app-swarm-health-bar
      [devices]="swarmDevices">
    </app-swarm-health-bar>
  </div>
</div>
<div class="dashlet-container">
  <div class="dashlet-column left">
    <div class="dashlet power-line">
      <app-power-line-chart 
        class="chart" 
        [loading]="dataLoading" 
        [swarmData]="swarmData" 
        [zoom]="zoom"
        (onZoom)="onZoomChange($event.zoom)"
      ></app-power-line-chart>
    </div>
    <div class="dashlet soc-line">
      <app-soc-line-chart 
        class="chart" 
        [loading]="dataLoading" 
        [swarmData]="swarmData" 
        [zoom]="zoom"
        (onZoom)="onZoomChange($event.zoom)"
      ></app-soc-line-chart>
    </div>
  </div>
  <div class="dashlet-column right">
    <div class="dashlet" *ngIf="managedSwarm == true">
      <app-alarm-list 
        (alarmCancelClicked)="cancelAlarmClicked($event)"
        (alarmEmailClicked)="alarmEmailClicked($event)"
        (alarmHovered)="alarmHovered($event)"
        [alarms]="swarmAlarms"
        [readonly]="readonlySwarm"
        noAlarmsMessage="No alarms">
      </app-alarm-list>
    </div>
    <div class="dashlet device-graphs">
      <div class="tab-bar">
        <button [class.active]="deviceSocVisible" (click)="viewDeviceSocChart()">State of charge</button>
        <button [class.active]="deviceTempVisible" (click)="viewDeviceTempChart()">Temperature</button>
      </div>
      <div class="main">
        <app-soc-bar-chart
          *ngIf="deviceSocVisible" 
          [loading]="dataLoading"
          [devices]="swarmDevices" 
          class="chart">
        </app-soc-bar-chart>
        <app-temp-bar-chart
          *ngIf="deviceTempVisible"
          [loading]="dataLoading"
          [devices]="swarmDevices" 
          class="chart">
        </app-temp-bar-chart>
      </div>
    </div>
  </div>
</div>
