.content-top {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

/* Top right section*/

.content-top>.content-right {
  display: flex;
  flex-direction: column;
  width: 35rem;
  margin: 0.5rem 1rem;
  justify-content: space-between;
}

.content-top>.content-right>.stats {
  display: flex;
  flex-grow: 1;
  margin-top: 0.5rem;
}

.content-top>.content-right>.stats>.stat {
  color: grey;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-top>.content-right>.stats>.stat>.label {
  margin-bottom: 0.5rem;
}

/* Graph dashlets */

.dashlet-container {
  flex-grow: 1;
  display: flex;
}

.dashlet-container>.dashlet-column {
  display: flex;
  flex-direction: column;
}

.dashlet-container>.dashlet-column.left {
  flex-grow: 1;
}

.dashlet-container>.dashlet-column.left>.power-line {
  margin-bottom: 0;
  height: calc(70% - 1rem);
}

.dashlet-container>.dashlet-column.left>.soc-line {
  height: calc(30% - 2rem);
}

.dashlet-container>.dashlet-column.right {
  width: 25rem;
}

.dashlet-container>.dashlet-column.right>div {
  height: 50%;
  margin-left: 0;
}

.dashlet-container>.dashlet-column.right>.dashlet:first-child {
  margin-bottom: 0;
}

.dashlet.device-graphs {
  flex-direction: column;
}

.dashlet.device-graphs>.tab-bar {
  display: flex;
  height: 2.5rem;
  flex-shrink: 0;
  margin-bottom: 0.5rem;
}

.tab-bar>button {
  flex-grow: 1;
  background-color: white;
  color: grey;
  border: none;
  padding: 0 2rem;
  transition: 0.2s;
}

.tab-bar>button:hover {
  cursor: pointer;
}

.tab-bar>button.active {
  color: #7ca0ff;
}

.tab-bar>button:focus {
  outline: none;
}

.tab-bar>button:after {
  content: '';
  background-color: #7ca0ff;
  width: 0%;
  height: 0.1rem;
  display: flex;
  position: relative;
  top: 0.5rem;
  transition: 0.2s;
  margin: auto;
}

.tab-bar>button.active:after {
  width: 100%;
}

.main {
  height: calc(100% - 40px);
}

app-power-line-chart {
  width: 100%;
  height: 100%;
}

app-soc-line-chart {
  width: 100%;
  height: 100%;
}

app-soc-bar-chart {
  width: 100%;
  height: 100%;
}

app-temp-bar-chart {
  width: 100%;
  height: 100%;
}

app-alarm-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}