<div *ngIf="!chartVisible" class="spinner-container">
  <div class="spinner"></div>
</div>
<div *ngIf="chartVisible" class="chart-container" id="{{deviceID + '-' + chartName}}">
  <chart [options]="chartOptions" (load)="onGraphLoad($event.context)"></chart>
</div>
