.left, .right {
    padding: 1.5rem;
    color: #666;
}

.left {
    width: 40%;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem 0;
}

.row>i {
    margin-left: 1rem;
}

.selectable {
    color: #8787ec;
}

.selectable:hover {
    cursor: pointer;
}

.right {
    width: 60%;
    background-color: #f9f9f9;
    display: flex;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.option>.selector {
    display: flex;
}

.option>.selector>div {
    margin-right: 2rem;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    flex-shrink: 0;
}

.top>.right {
    padding: 0;
    width: initial;
}

.top>.right>button:first-child {
    margin-right: 1rem;
}

button.add {
    background-color: #62c562;
}

button.save {
    background-color: #5796d4;
}

button.select {
    background-color: #5796d4;
}

button.delete {
    background-color: #ff6565;;
}

.top>h3 {
    margin: 0
}

.main {
    flex-grow: 1;
    display: flex;
    min-height: 0;
}

.create .main {
    flex-direction: column;
}

/* Make all swarms show a pointer */
.swarms .row>div {
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}

.swarm.child {
    padding-left: 0.5rem;
}

.manager {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.device-tool {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.device-tool .devices {
    background-color: white;
    overflow-y: auto;

    min-height: 0;
    width: 7rem;
}

.no-mans-land {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.no-mans-land>i {
    font-size: 2rem;
}

/* Default styling for all buttons */

button {
    position: relative;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color: grey;
    color: white;
    transition: 0.2s;
}

button.disabled {
    background-color: #adadad;
}

button.disabled:hover {
    cursor: initial;
}

button:focus {
    outline: none;
}

button:hover {
    cursor: pointer;
}

button:active:hover {
    top: 0.1rem;
}