<div class="left">
  
  <div class="top">
    <h3>Swarms</h3>
    <button class="add" (click)="viewCreateSwarm()">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>

  <ng-template #recursiveList let-swarms>
    <div class="swarm child" *ngFor="let swarm of swarms">
      <div class="row" (click)="swarmClicked(swarm)">
        <div [class.selectable]="selectingParentSwarm">{{swarm.name}}</div>
        <i *ngIf="!swarm.managed" class="fa fa-eye" aria-hidden="true"></i>
      </div>
      <ng-container *ngTemplateOutlet="recursiveList; context: { $implicit: swarm.children }"></ng-container>
    </div>
  </ng-template>

  <div class="main">
    <div class="swarms">
      <div *ngFor="let swarm of swarms">
          <div class="row" (click)="swarmClicked(swarm)">
            <div [class.selectable]="selectingParentSwarm">{{swarm.name}}</div>
            <i *ngIf="!swarm.managed" class="fa fa-eye" aria-hidden="true"></i>
          </div>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: swarm.children }"></ng-container>      
      </div>
    </div>
  </div>
</div>

<div class="right">

  <div class="help-message" *ngIf="!managerOpen">Select a swarm to manage</div>

  <div class="manager create" *ngIf="managerOpen && !selectedSwarm">

    <div class="top">
      <h3>Create Swarm</h3>
      <button class="add" (click)="createSwarm()" [class.disabled]="!createSwarmValid()">Create</button>
    </div>

    <div class="main">
      <div class="option">
        <label>Swarm Name</label>
        <input type="text" [(ngModel)]="createSwarmNameField">
      </div>
      <div class="option">
        <label>Parent Swarm</label>
        <div class="selector">
          <div>{{createSwarmParentSwarmName ? createSwarmParentSwarmName : 'None'}}</div>
          <button class="select" (click)="toggleParentSwarmSelection()">
            {{selectingParentSwarm ? 'Cancel' : 'Select'}}
          </button>
        </div>
      </div>
      <div class="option">
        <label>View</label>
        <ui-switch [checked]="false" [(ngModel)]="createSwarmViewField" size="small" color="rgb(89, 197, 128)"></ui-switch>
      </div>
    </div>
  </div>

  <div class="manager edit" *ngIf="managerOpen && selectedSwarm">

    <div class="top">
      <h3>Edit {{selectedSwarm.name}}</h3>
      <div class="right">
        <button class="delete" (click)="deleteSelectedSwarm()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
        <button *ngIf="selectedSwarm.managed" (click)="saveManagedSwarm()" [class.disabled]="!saveManagedSwarmValid()" class="save">Save</button>
        <button *ngIf="!selectedSwarm.managed" (click)="saveUnmanagedSwarm()" [class.disabled]="!saveUnmanagedSwarmValid()" class="save">Save</button>
      </div>
    </div>

    <div class="main">
      <div *ngIf="loading" class="spinner-container">
        <div class="spinner"></div>
      </div>
      <div class="device-tool" *ngIf="!loading">
        <div class="devices available">
          <div class="row" *ngFor="let device of availableDevices" (click)="availableDeviceClicked(device)">
            <div>
              {{device}}
            </div>
          </div>
        </div>

        <div class="no-mans-land">
          <div class="selected-device" *ngIf="selectedDevice">{{selectedDevice}}</div>
          <i *ngIf="!selectedSwarm.managed" class="fa fa-arrows-h" aria-hidden="true"></i>
          <i *ngIf="selectedSwarm.managed" class="fa fa-long-arrow-right" aria-hidden="true"></i>
        </div>

        <div class="devices selected">
          <div class="row" *ngFor="let device of swarmDevices" (click)="swarmDeviceClicked(device)">
            <div>
              {{device}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>