<h1 mat-dialog-title>Confirm</h1>
<div mat-dialog-content>
  <p>{{data.confirmationMessage}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="clickedCancel($event)">{{data.cancelText}}</button>
  <button mat-button (click)="clickedConfirm($event)" cdkFocusInitial>{{data.confirmText}}</button>
</div>
