h2 {
    color: grey;
    text-align: center;
}

.selection {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    height: 4rem;
}

.selection i {
    color: white;
}

.selection>button {
    border: none;
    height: 3rem;
    width: 6rem;
    border-radius: 0.2rem;
    transition: 0.1s;
}

.selection>button:focus {
    outline: none;
}

.selection>button:hover {
    cursor: pointer;
}

.selection>button:active:hover {
    margin-top: 0.3rem;
}

.selection>.yes {
    background-color: #5bb75b;
}

.selection>.no {
    background-color: #e46d6d;
}