<div class="topbar-row">
  <div class="topbar-left">
    <div (click)="toggleSidebar()" class="sidebarToggleContainer">
      <i class="fa fa-sitemap" aria-hidden="true"></i>
      <div class="swarm-details">
        <div class="swarm-name">
          {{currentSwarmName + (swarmVsn ? ' (' + swarmVsn + ')': '')}}
        </div>
        <div class="swarm-operator-details">
            <div class="operating-swarm-text" *ngIf="userOperating && swarmManaged">
              Operating
            </div>
            <div class="current-operator" *ngIf="!userOperating && operator && swarmManaged">   
              Operator: {{operator}}
            </div>
            <div class="no-operator-text" *ngIf="!userOperating && !operator && swarmManaged">   
              No operator!
            </div>
            <div class="swarm-view-text" *ngIf="!swarmManaged">
              View
            </div>
        </div>
    </div>
  </div>

    <div class="control-swarm" *ngIf="!userOperating && swarmManaged && !swarmReadonly">
      <button (click)="takeControlOfSwarm()">Take control</button>
    </div>
    
    <div class="search-container">
      <i *ngIf="currentSearch.length > 0" class="fa fa-times" aria-hidden="true" (click)="clearSearchClicked($event)"></i>
      <input [(ngModel)]="currentSearch" (ngModelChange)="onSearchChange($event)" type="text" placeholder="Search device...">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
  </div>

  <div class="topbar-right">
    <!-- TODO: Better offline css and warning -->
    <div *ngIf="!online!">
      Offline
    </div>

    <div class="alarms-button">
      <div class="button-container" (click)="toggleAlarms()">
        <i class="fa fa-bell" aria-hidden="true" [ngClass]="alarmRinging == true ? 'ringing': ''"></i>
      </div>
      <div class="number" *ngIf="alarms.length > 0">{{alarms.length}}</div>
      <div class="dropdown" *ngIf="alarmsVisible">
        <div class="backdrop" (click)="toggleAlarms()"></div>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
        <div class="alarms-container">
          <app-alarm-list 
            noAlarmsMessage="No urgent alarms"
            (alarmClicked)="alarmClicked($event)"
            (alarmHovered)="alarmHovered($event)"
            clickable="true"
            readonly="true"
            tooltip="Go to source"
            [alarms]="alarms"
            showSource="true">
          </app-alarm-list>
        </div>
      </div>
    </div>

    <div class ="admin-button" *ngIf="adminUser">
      <i class="fa fa-users" aria-hidden="true" (click)="openUserManagement()"></i>
    </div>

    <div class="settings-button">
      <i class="fa fa-cog" (click)="toggleSettings()" aria-hidden="true"></i>
      <div class="dropdown" *ngIf="settingsVisible">
        <div class="backdrop" (click)="toggleSettings()"></div>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
        <div class="settings-container">
          <div class="settings">
            <h3>User Settings</h3>
            <div class="settings-row">
              <div>
                Language
              </div>
              <select class="language" [(ngModel)]="language" (ngModelChange)="saveSettings()">
                <option value="en">English</option>
                <option value="de">German</option>
                <option value="sw">Swedish</option>
              </select>
            </div>
            <div class="settings-row">
              <div>
                Default swarm
              </div>
              <div class="default-swarm">
                <select [(ngModel)]="defaultSwarm" (ngModelChange)="saveSettings()">
                  <option *ngFor="let swarm of swarmsArray" value="{{swarm}}">{{swarm}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="user-logged-in">
      User: {{username}}
    </div>

    <div class="user-logout">
      <button (click)="onLogoutClicked()">Log out</button>
    </div>
  </div>
</div>

<div class="topbar-row">
  <div class="left">
    <button class="page-button" routerLink="./overview" routerLinkActive="active">Overview</button>
    <button class="page-button" routerLink="./devices" routerLinkActive="active">Devices</button>
    <button class="page-button" *ngIf="swarmManaged && topSwarm" routerLink="./energy-management" routerLinkActive="active">Energy Management</button>
  </div>
  <div class="right">
    <i class="fa fa-chevron-left" aria-hidden="true" (click)="onLeftJumpClicked()"></i>

    <input
      class="time-input" 
      autocomplete="off"
      [owlDateTime]="dt1" 
      [owlDateTimeTrigger]="dt1"
      [(ngModel)]="selectedDate"
      (ngModelChange)="onDateSelected()"
      ngModel readonly>
    <owl-date-time #dt1 [stepHour]="1" [startAt]="selectedDate" [pickerType]="'calendar'"></owl-date-time>

    <i class="fa fa-chevron-right" aria-hidden="true" (click)="onRightJumpClicked()"></i>
    <button class="current-button" (click)="onCurrentButtonClicked()">Current</button>
  </div>
</div>
