.topbar-row {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  font-size: 1.2rem;
}

.topbar-row .swarm-details {
  display: flex;
  flex-direction: column;
}

.topbar-row .swarm-details>.swarm-operator-details {
  font-size: 1rem;
}

.topbar-row>.topbar-left,  .topbar-row>.topbar-left>.sidebarToggleContainer{
  display: flex;
  align-items: center;
}

.topbar-row>.topbar-left>.sidebarToggleContainer>* {
  margin-right: 1.0rem;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Others*/
}

.topbar-row>.topbar-left>* {
  margin-left: 1.5rem;
}

.topbar-row>.topbar-left>.sidebarToggleContainer {
  transition: 0.2s;
}

.topbar-row>.topbar-left>.sidebarToggleContainer:hover {
  cursor: pointer;
  color: #209e91;
}

.topbar-row>.topbar-left>.search-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.topbar-row>.topbar-left>.search-container>input {
  background-color: #005aff00;
  border: none;
  margin-left: 1rem;
  margin-right: 0.5rem;
  color: white;
  width: 8rem;
}

.topbar-row>.topbar-left>.search-container>i:first-child {
  padding: 0.5rem;
}

.topbar-row>.topbar-left>.search-container>i:first-child:hover {
  cursor: pointer;
  color: #209e91;
}

.topbar-row>.topbar-left>.search-container>i {
  transition: 0.2s;
}

.topbar-row>.topbar-left>.search-container>input:focus {
  outline: none;
}

.topbar-row>.topbar-left>.search-container>input:focus ~ i {
  color: #209e91;
}

.topbar-row>.topbar-right {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.topbar-row>.topbar-right i {
  font-size: 1.2rem;
}

.topbar-row>.topbar-right>* {
  margin-right: 1.5rem;
}

.topbar-row>.topbar-right>.alarms-button, .topbar-row>.topbar-right>.settings-button {
  position: relative; 
}

.topbar-row>.topbar-right>.alarms-button>div.button-container, .topbar-row>.topbar-right>*>i {
  color: white;
  position: relative;
  transition: 0.2s;
  padding: 0.5em;     
  margin: -0.5em; 
}

.topbar-row>.topbar-right>.alarms-button>div.button-container:hover, .topbar-row>.topbar-right>*>i:hover {
  cursor: pointer;
  color: #209e91;
}

.topbar-row>.topbar-right>.alarms-button>div.button-container>i.ringing {
  -webkit-animation: ring 1.2s ease-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 1.2s ease-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 1.2s ease-out infinite;
  transform-origin: 50% 4px;
  user-select: none;
}

.topbar-row>.topbar-right>.alarms-button>.number {
  position: absolute;
  left: 0.8rem;
  top: -0.4rem;
  min-width: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  color: white;
  background-color: #ff7878;
  font-size: 1rem;
  font-weight: 600;
  pointer-events: none;
}

.topbar-row>.topbar-right>.alarms-button>.dropdown, .topbar-row>.topbar-right>.settings-button>.dropdown {
  position: absolute;
  width: 30rem;
  right: -1.8rem;
  top: 2.5rem;
}

.backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.175);
  width: 100%;
  height: 100%;
}

.topbar-row>.topbar-right>.alarms-button>.dropdown>i, .topbar-row>.topbar-right>.settings-button>.dropdown>i {
  color: white;
  position: absolute;
  left: 27rem;
  font-size: 2rem;
  transform: rotate(180deg);
  top: -1.1rem;
  z-index: 2;
}

.topbar-row>.topbar-right>.alarms-button>.dropdown>.alarms-container, .topbar-row>.topbar-right>.settings-button>.dropdown>.settings-container {
  color: #666;
  min-height: 5rem;
  max-height: 20rem;
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: white;
  border: 1px solid rgba(0,0,0,.15);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}

.topbar-row>.topbar-right>.settings-button>.dropdown>.settings-container>.settings {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.topbar-row>.topbar-right>.settings-button>.dropdown>.settings-container>.settings>h3 {
  text-align: center;
}

.topbar-row>.topbar-right>.settings-button>.dropdown>.settings-container>.settings>.settings-row {
  display: flex;
  flex-direction: row;
  width: initial;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.topbar-row>.topbar-right>.alarms-button>.dropdown>.alarms-container>.alarms-clear-text {
  color: #cacaca
}

.topbar-row>.topbar-right button {
  background-color: #00000000;
  border:solid 2px white;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  transition: 0.1s;
  font-size: 0.9rem;
}

.topbar-row>.topbar-left button {
  background-color: #00000000;
  border:solid 2px white;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  transition: 0.1s;
  font-size: 0.9rem;
}

.topbar-row>.topbar-right button:hover {
  cursor: pointer;
  background-color: white;
  color: #1c2b36;
}

.topbar-row>.topbar-left button:hover {
  cursor: pointer;
  background-color: white;
  color: #1c2b36;
}

.topbar-row:nth-child(2) {
  justify-content: space-between;
  font-size: 0.8rem;
  height: 2.5rem;
}

.topbar-row:nth-child(2)>.left {
  display: flex;
}

.topbar-row>.right>.time-input {
  text-align: center;
  border: none;
  color: white;
  background-color: #263c4c;
  border-radius: 0.3rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline-style:none;/*IE*/
}

.page-button {
  background-color: #00000000;
  color: #cacaca;
  border: none;
  padding: 0 1rem;
  text-transform: uppercase;
  transition: 0.2s;
  width: 12rem;
  height: 100%;
}

.page-button:hover {
  cursor: pointer;
  color: white;
}

.page-button:focus {
  outline: none;
}

.page-button.active {
  border-bottom: solid 0.2rem #209e91;
  color: white;
}

/* Styling time picker */

.topbar-row:nth-child(2)>.right {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.topbar-row:nth-child(2)>.right>i {
  padding: 0.8rem;
}

.current-button {
  background-color: #209e91;
  border-radius: 0.2rem;
  color: white;
  padding: 0.2rem 0.5rem;
  border: solid 1.5px #209e91;
}

.current-button:focus {
  outline: none;
}

.topbar-row:nth-child(2)>.right>*:hover {
  cursor: pointer;
}

app-alarm-list {
  overflow-y: auto;
}

/** bell ring animations **/

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }
  
  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
  }
  
  @-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }
  
  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
  }
  
  @keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }
  
  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
  }
