ui-switch {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.form-container {
  padding: 5rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(4px);
  background-color: #ffffff1f;
  border-radius: 1rem;
  text-align: center;
  width: 16rem;
}

.form-container>form>div {
  margin-bottom: 2rem;
}

.form-container input {
  width: 100%;
  line-height: 2.2rem;
  border: none;
  padding: 0 2rem;
  background-color: #ececec;
}

.form-container.fancy input {
  border: none;
  background-color: #cecece91;
  color: white;
  border-radius: 0.2rem;
}

.form-container .error {
  color: #ff6666;
}

.form-container button {
  background-color: #6ba56b;
  border-radius: 0.2rem;
  transition: 0.3s;
  width: 100%;
  height: 2.2rem;
  border: none;
  color: white;
}

.form-container .input-container {
  display: flex;
}

.form-container i {
  font-size: 1.2rem;
  position: relative;
  color: grey;
  left: 0.5rem;
  width: 0;
  top: 0.5rem;
}

.form-container.fancy i {
  color: white;
}

.form-container button[disabled],
.form-container button:disabled {
  background-color: #9696966b;
}

.form-container button[disabled]:hover,
.form-container button:disabled:hover {
  cursor: auto;
}

.form-container button:hover {
  cursor: pointer;
}

.form-container h3 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 2rem;
  font-weight: 500;
  color: #62638c;
}

.form-container.fancy h3 {
  color: white;
}
