<particles *ngIf="fancy" [style]="particlesStyle" [width]="width" [height]="height" [params]="particlesParams"></particles>
<ui-switch (change)="toggleFancy()" checked size="small"></ui-switch>

<div class="page">
  <div [ngClass]="fancy ? 'fancy' : 'boring'" class="form-container">
    <h3>Control Center</h3>
    <form #loginForm="ngForm" (ngSubmit)="submitLogin(loginForm.form);">
      <div>
        <div class="input-container">
          <i class="fa fa-user" aria-hidden="true"></i>
          <input type="text" name="username" ngModel #usernameField="ngModel" required autocomplete="username" placeholder="Username">
        </div>
      </div>
      <div>
        <div class="input-container">
          <i class="fa fa-key" aria-hidden="true"></i>
          <input type="password" name="password" ngModel #passwordField="ngModel" required autocomplete="current-password" placeholder="Password">
        </div>
      </div>
      <div class="error" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <button [disabled]="!loginForm.valid || loading">Log in</button>
    </form>
  </div>
</div>